/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes move-arrow {
  from {
    left: 0;
  }

  to {
    left: 4px;
  }
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  color: var(--accent-color, #000);
  opacity: 0.6;
  animation-name: move-arrow;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes scale-heart {
  from {
    transform: scale(1);
    transform-origin: center;
  }

  to {
    transform: scale(1.5);
    transform-origin: center;
  }
}

.like-icon.is-liked .heart {
  animation-name: scale-heart;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-direction: alternate-reverse;
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation-name: sparks;
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-direction: alternate-reverse;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.core {
  fill: var(--accent-color, #000);
  transform: scale(0);
  transition: 0.3s linear;
  transition-delay: 0.03s;
  transform-origin: center;
}

.like-icon:hover .core {
  transform: scale(1);
  transition: 0.3s linear;
}

.main-body {
  fill: var(--accent-color, #000);
  transform: scale(0);
  transition: 0.3s linear;
  transform-origin: center;
}

.like-icon:hover .main-body {
  transform: scale(1);
  transition: 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--sparks-color, #ff0000);
  transform: scale(1);
  transition: 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--sparks-color, #ff0000);
  transform: scale(1);
  transition: 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color, #ff0000);
  transform: scale(1);
  transition: 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color, #ff0000);
  transform: scale(1);
  transition: 0.3s linear;
  transition-delay: 0.05s;
}

.contour {
  fill: var(--accent-color, #000);
  transform: scale(1);
  transition: 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color, #ff0000);
  transform: scale(1);
  transition: 0.3s linear;
  transition-delay: 0.06s;
}

.sparks {
  opacity: 0;
}
