/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter";
  --accent-font: "PressStart2P";
  --font-size: 18px;
  --text-weight-size: 400;
  --title-weight-size: 700;
  --bgcolor: #fff;
  --accent-color: #000;
  --gradinent: repeating-linear-gradient(to right, #d3d3d3 2px, transparent 6px),
    repeating-linear-gradient(to bottom, #d3d3d3 2px, transparent 6px),
    repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --content-size: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  --hover-color: #fff;
  --sparks-color: #ff0000;
}
